<section id="myawesome-view" class="view">
    
    <button class="button-back" data-bind="command: goBackCmd"></button>
    
    @*<div class="details-left">
        <span class="scrollable-text">Some text </span>
    </div>*@
    
    <div data-bind="template: { name: tmplName }"></div>

</section>