@using System.Web.Optimization

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>hello</title>
    
    @Styles.Render("~/Content/css", "~/Content/less")
</head>
<body>
    
    <nav id="shellTop-view" class="main-nav">
        
        <div class="accent-top"></div>
            <div class="accent-left"></div>
            <ul data-bind="with: menuHashes">
                <li class="route-top"><a data-bind="attr: { href: myawesome }">myAweSome</a></li>
            </ul>
    </nav>

    <div id="busyindicator">
        
    </div>
    
    <section class="main">
        @RenderPage("Views/MyAweSome.cshtml")
    </section>


    @Scripts.Render(
            "~/bundles/jquery",
            "~/bundles/jsextlibs",
            "~/Scripts/lib/require.js",
            "~/bundles/jsapplibs",
            "~/bundles/jsmocks", // remove mocks for release
            "~/Scripts/main.js"
            )

</body>
</html>
